
.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;
  color :rgb(87, 42, 170);
  font-size: 40px;

}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: gray;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(14, 13, 13, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}


#imagem{
  background-image: url("./assets/forca.png");
  width: 234px;
  height: 272px;
  background-repeat: no-repeat;
  
}

#palavra-secreta{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-top: 30px;
}
.letras{
  width: 40px;
  text-align: center;
  border-bottom: 2px solid #1a021a;
  color: rgb(87, 42, 170);
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 40px;
  font-size: 40px;
}

.teclas button{
  width: 60px;
  height: 60px;
  margin: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow:  0px 2px 8px rgb(42, 6, 110);
  border-radius: 5px;
  border: 1px solid rgb(29, 5, 83);  
  color: #1a181a;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}
              /*para nao clicar de novo*/
 .teclas button:disabled{  /* efeito */
  cursor: not-allowed;
}

.teclas button:hover{ /* efeito */
  transform:scale(1.3);
}

body{
  background-color: rgb(26, 199, 170);
  font-family: 'Ubuntu', sans-serif;
}

#Mensagem-Final{
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  color:rgb(87, 42, 170);
}

#categoria{
  color:rgb(2, 4, 10);
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
}

.btn{  /* efeito */
  cursor: pointer;
}

.btn:hover{ /* efeito */
  transform:scale(1.3);
}

#btnReiniciar{
  width: 120px;
  height: 60px;
  color:rgb(3, 1, 10);
  background: gray;
}

#input-nova-categoria{
  margin-top: 15px;
}

#categoria{
margin : 15px;
color:rgb(87, 42, 170);
}

footer {  
  margin-top: 100px;
  color:rgb(87, 42, 170);
  width: 100%;
  height: 60px;    
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}